<script>
	import "../app.css";
	import Header from "./Header.svelte";
	import Footer from "./Footer.svelte";
</script>

<svelte:head>
	<meta content="Quick Cheap Eats | Hi-Fi Prototype" name="description" />
</svelte:head>

<div class="app flex flex-col h-screen">
	<Header />

	<main class="flex flex-grow p-4">
		<slot />
	</main>

	<Footer />
</div>
