<script>
	import ArrowRightIcon from "$lib/icon/mini/ArrowRightIcon.svelte";
</script>

<svelte:head>
	<title>QCE | Home</title>
</svelte:head>

<section class="flex flex-grow flex-col items-center justify-center">
	<div class="flex flex-col items-start justify-center w-1/2">
		<h1 class="text-4xl font-bold text-start">Welcome</h1>
		<a
			class="flex flex-row items-baseline justify-between px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600"
			href="/recipe">
			<div class="mr-1">Let's eat</div>
			<div id="arrow-right">
				<ArrowRightIcon classes="w-4 h-4" color="white" />
			</div>
		</a>
	</div>
</section>

<style>
	#arrow-right {
		position: relative;
		top: 3px;
	}
</style>
