<script>
	const authors =
		"Vithursika Vinasiththamby, Meenakshi Girish Nair, Georgios Evangelou, Mayank Thakur, Luka Leer";
</script>

<footer class="flex flex-col items-center justify-center p-4">
	High-Fidelity Prototype, not a final product.
	<small class="ml-2">
		&copy; 2023
		<button
			class="text-blue-500"
			data-tooltip={authors}
			on:click={() => focus()}>
			Groupset 6 Group 1.
		</button>
		All Rights Reserved.
	</small>
	<small class="ml-2">
		Icons from
		<a class="text-blue-500" href="https://heroicons.com/">Heroicons</a>,
		licensed under the
		<a class="text-blue-500" href="https://opensource.org/licenses/MIT">
			MIT License
		</a>.
	</small>
	<small class="ml-2"> All images are located in the Public Domain. </small>
</footer>

<style>
	[data-tooltip] {
		cursor: pointer;
		position: relative;
	}

	[data-tooltip]:before {
		opacity: 0;

		content: attr(data-tooltip);

		position: absolute;
		width: 150px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25px;

		padding: 0.5em;
		background-color: black;
		border-radius: 0.25em;
		color: white;
		text-align: center;
		transition: 0.2s;
	}

	[data-tooltip]:hover:before,
	[data-tooltip]:focus:before {
		opacity: 1;
	}
</style>
