<script>
	import LogoBlack from "$lib/image/logo-black.png";
</script>

<header class="flex flex-row items-center justify-center p-4">
	<a href="/" class="text-2xl font-bold text-gray-800">
		<img src={LogoBlack} alt="Quick Cheap Eats" class="h-12" />
	</a>
</header>
