<script lang="ts">
	import type { ParsedRecipe } from "$lib/recipes";
	import RecipePlaceholder from "$lib/image/recipe-placeholder.png";
	import VoiceAssistant from "./VoiceAssistant.svelte";

	export let data: {
		recipe: ParsedRecipe;
	};
</script>

<!-- TAILWIND recipe overview page -->

<div class="flex flex-grow flex-col items-center justify-center py-2 space-y-2">
	<div class="flex flex-col items-center justify-center px-20 text-center">
		<h1 class="text-4xl font-bold w-full">{data.recipe.title}</h1>
	</div>

	<div class="w-64 h-64">
		<img
			alt={data.recipe.title + " image"}
			class="object-cover rounded-lg w-full h-full"
			src={RecipePlaceholder} />
	</div>

	<!-- TAGS -->
	<div class="flex flex-row flex-wrap items-center w-full px-20">
		<span
			class="px-3 py-1 m-1 text-sm font-medium text-white bg-blue-700 rounded-full">
			{data.recipe.cuisine}
		</span>
		<span
			class="px-3 py-1 m-1 text-sm font-medium text-white bg-blue-600 rounded-full">
			{data.recipe.diet}
		</span>
		{#each data.recipe.tags as tag}
			<span
				class="px-3 py-1 m-1 text-sm font-medium text-white bg-blue-500 rounded-full">
				{tag}
			</span>
		{/each}
	</div>

	{#if data.recipe.description}
		<div
			class="flex flex-col items-center justify-center px-20 text-start w-full">
			<p class="text-md font-medium w-full">
				{data.recipe.description}
			</p>
		</div>
	{/if}

	{#if data.recipe.ingredients}
		<div
			class="flex flex-col items-center justify-center w-full px-20 text-start">
			<h2 class="text-2xl font-bold w-full">Ingredients</h2>
			<ul class="flex flex-col items-start justify-start w-full">
				{#each data.recipe.ingredients as ingredient}
					<li class="text-md font-medium w-full">{ingredient}</li>
				{/each}
			</ul>
		</div>
	{/if}

	{#if data.recipe.instructions}
		<div
			class="flex flex-col items-center justify-center w-full px-20 text-start">
			<h2 class="text-2xl font-bold w-full">Instructions</h2>
			<ul
				class="flex flex-col items-start justify-start w-full list-decimal">
				{#each data.recipe.instructions as instruction}
					<li class="text-md font-medium w-full">{instruction}</li>
				{/each}
			</ul>
		</div>
	{/if}

	<VoiceAssistant recipe={data.recipe} />
</div>
