<script lang="ts">
	import type { ParsedRecipe } from "$lib/recipes";
	import { onDestroy, onMount } from "svelte";
	import { initialiseAssistant, processInput } from "$lib/cheap-assistant";

	interface Message {
		text: string;
		side: "user" | "assistant";
	}

	function newMessage(text, side): Message {
		return { text, side };
	}

	let messages: Message[] = [];

	export let recipe: ParsedRecipe;

	let speechRecognition;
	let speak: (text: string) => void;
	let active = false;

	function askAssistant(input: string) {
		messages = [...messages, newMessage(input, "user")];

		const output = processInput(input);
		if (output) {
			speak(output);
			messages = [...messages, newMessage(output, "assistant")];
		}

		// scroll to bottom
		setTimeout(() => {
			document
				.getElementById("cheap-assistant-transcript")
				.lastElementChild?.scrollIntoView();
		}, 100);
	}

	function startAssistant() {
		if (!speechRecognition || !recipe) {
			throw new Error("speechRecognition and recipe must be defined");
		}

		initialiseAssistant(recipe);

		speechRecognition.interimResults = true;
		speechRecognition.lang = "en-US";

		speechRecognition.onresult = (event: {
			results: any[];
			resultIndex: number;
		}) => {
			const result = event.results[event.resultIndex];
			if (result.isFinal) {
				askAssistant(result[0].transcript);
			}
		};

		speechRecognition.onend = () => {
			speechRecognition.start();
		};

		let introduction = `
			Hello, I'm Cheap, your cooking assistant.
			I will help you with cooking ${recipe.title}.
		`;
		messages = [newMessage(introduction, "assistant")];
		speak(introduction);
		speechRecognition.start();
		active = true;
	}

	onMount(() => {
		const SpeechRecognition =
			window.SpeechRecognition || window.webkitSpeechRecognition;
		speechRecognition = new SpeechRecognition();

		speak = (text: string) => {
			if (window.speechSynthesis) {
				const utterance = new SpeechSynthesisUtterance(text);
				window.speechSynthesis.speak(utterance);
			}
		};
	});

	function stopAssistant() {
		if (speechRecognition) {
			speechRecognition.stop();
		}
		messages = [];
		active = false;
	}

	onDestroy(() => {
		stopAssistant();
	});

	function toggleAssistant() {
		if (active) {
			stopAssistant();
		} else {
			startAssistant();
		}
	}

	$: toggleState = active ? "Stop" : "Start";

	$: assistantHeight = active ? "h-1/2" : "h-14";
</script>

<div class="fixed bottom-0 left-0 w-full bg-gray-100 {assistantHeight}">
	<div class="flex flex-col h-full">
		<div class="flex-grow overflow-y-auto" id="cheap-assistant-transcript">
			{#each messages as message}
				<div class="flex items-center p-2">
					<div class="flex-grow">
						<div class="text-sm text-gray-600">{message.side}</div>
						<div class="text-lg">{message.text}</div>
					</div>
				</div>
			{/each}
		</div>
		<div class="flex-shrink-0 p-2">
			<button
				class="px-4 py-2 text-white bg-blue-500 rounded"
				on:click={toggleAssistant}
				>{toggleState}
			</button>
		</div>
	</div>
</div>
