<script>
	export let color = "black";
	export let classes = "w-5 h-5";
</script>

<svg
	class={classes}
	fill={color}
	viewBox="0 0 20 20"
	xmlns="http://www.w3.org/2000/svg">
	<path
		clip-rule="evenodd"
		d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
		fill-rule="evenodd" />
</svg>
