<script>
	export let color = "black";
	export let classes = "w-5 h-5";
</script>

<svg class={classes} fill={color} viewBox="0 0 20 20">
	<path
		clip-rule="evenodd"
		d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
		fill-rule="evenodd" />
</svg>
