<script lang="ts">
	import Filter from "./Filter.svelte";
	import Results from "./Results.svelte";
	import { logStatistics } from "$lib/recipes";

	logStatistics();
</script>

<svelte:head>
	<title>QCE | Recipes</title>
</svelte:head>

<section class="flex flex-grow flex-col">
	<Filter />
	<Results />
</section>
