<script>
	import { preferredCuisines, preferredDiets } from "./filterstore";
	import { cuisines, diets } from "$lib/recipes";
	import FilterIcon from "$lib/icon/mini/FilterIcon.svelte";

	function toggleFilters() {
		Array.from(
			document.getElementsByClassName("toggle-hide-filter")
		).forEach((item) => item.classList.toggle("hidden"));
	}
</script>

<div
	class="flex flex-col md:flex-row space-y-2 md:space-y-0 items-start md:items-center mb-4">
	<button
		class="flex flex-row items-center justify-center bg-gray-100 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2"
		on:click={toggleFilters}>
		<FilterIcon />
	</button>

	<div
		class="toggle-hide-filter hidden flex flex-row items-center justify-center bg-gray-100 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2">
		<label class="mr-2 font-semibold" for="cuisine">Cuisine</label>
		<select
			bind:value={$preferredCuisines}
			class="bg-gray-100"
			id="cuisine"
			multiple
			name="cuisine">
			{#each cuisines as cuisine}
				<option value={cuisine}>{cuisine}</option>
			{/each}
		</select>
	</div>

	<div
		class="toggle-hide-filter hidden flex flex-row items-center justify-center bg-gray-100 rounded-full px-3 py-1 text-sm font-medium text-gray-700 mr-2">
		<label class="mr-2 font-semibold" for="diet">Diet</label>
		<select
			bind:value={$preferredDiets}
			class="bg-gray-100"
			id="diet"
			multiple
			name="diet">
			{#each diets as diet}
				<option value={diet}>{diet}</option>
			{/each}
		</select>
	</div>
</div>
