<script lang="ts">
	import type { ParsedRecipe } from "$lib/recipes";
	import RecipePlaceholder from "$lib/image/recipe-placeholder.png";

	export let recipe: ParsedRecipe;
</script>

<a
	class="mb-2 flex flex-row items-center justify-start space-x-4"
	href="/recipe/{recipe.id}">
	<img
		alt={recipe.title + " image"}
		class="w-32 h-32 rounded-lg object-cover"
		src={RecipePlaceholder} />
	<div class="flex flex-col flex-grow space-y-2">
		<h1 class="text-2xl md:text-3xl font-bold">{recipe.title}</h1>
		<p class="text-gray-500">
			{recipe.preparationTime + recipe.cookingTime + " minutes"}
		</p>
	</div>
</a>

<style>
	a {
		max-width: 90%;
	}
</style>
