<script lang="ts">
	import type { ParsedRecipe } from "$lib/recipes";
	import { filterRecipes } from "$lib/recipes";
	import RecipeCard from "./RecipeCard.svelte";
	import {
		preferredCourses,
		preferredCuisines,
		preferredDiets,
		preferredMaxCookingTime,
		preferredMaxPreparationTime,
		preferredTags,
	} from "./filterstore";

	let recipes: ParsedRecipe[];
	let showCount = 10;

	$: recipes = filterRecipes(
		$preferredCuisines,
		$preferredCourses,
		$preferredDiets,
		$preferredTags,
		$preferredMaxPreparationTime,
		$preferredMaxCookingTime
	).slice(0, showCount);

	function showMore() {
		showCount += 10;
	}

	$: console.log("Preferred diets changed to", $preferredDiets);
</script>

<div>
	{#each recipes as recipe (recipe.id)}
		<RecipeCard {recipe} />
	{/each}
</div>
<button on:click={showMore}>Show more</button>
